body {
    color: black;
    font-weight: bold;
    background-color: black;
    font-family: "Comic Sans MS", "Ink Free", "Century Gothic", sans-serif;
    background-image: linear-gradient(to bottom right, rgb(247, 54, 6), orange, yellow, green, blue, indigo, violet);
}

h1 {
    color: black;
    font-family: "Chiller", "Freestyle Script","Century Gothic", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
}